.navbar-nav{
	float:none;
	text-align:center;
}
.navbar-nav li{
	display:inline-block;
	float:none;
	font-size:16px;
}
.navbar-default{
	background-color: #75c9b4;
	border-color: #75c9b4;
	width: 100%;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar {
    border-radius: 0;
}
.container, p{
	font-size: 16px;
	margin-top:8px;
	color: grey;
}
.navbar-default .navbar-nav > li > a:hover {
    color: grey;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
    color: grey;
    background-color: transparent;
}
.btn{
	margin-bottom:10px;
}
.glyphicon {
    margin-left: 5px;
}
.row{
	margin-bottom:15px;
}

@media screen and (min-width:768px) {
		.info-runners{
			font-size:18px;	
			margin-top: 25%;
		}
		.info-xavier{
			font-size: 18px;
			margin-top: 15%;
		}
}	